/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --bg-main: #0f172a;
  --bg-card: #111827;
  --text-main: #e5e7eb;
  --text-muted: #9ca3af;
  --primary: #38bdf8;
}

/* GLOBAL */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
}

a {
  text-decoration: none;
  color: inherit;
}
