<section class="contact">
  <h1>Contacto</h1>

  <p class="subtitle">
    Si quieres ponerte en contacto conmigo, puedes hacerlo a través
    de los siguientes medios.
  </p>

  <div class="contact-card">
    <div class="item">
      <span class="label">Email</span>
      <a href="fuentesmaximo2003@gmail.com">fuentesmaximo2003@gmail.com</a>
    </div>

    <div class="item">
      <span class="label">GitHub</span>
      <a href="https://github.com/MaxiimoFuentesSantana" target="_blank">
        github.com/Máximo Fuentes Santana
      </a>
    </div>

    <div class="item">
      <span class="label">LinkedIn</span>
      <a href="https://www.linkedin.com/in/maximo-fuentes-2219a2251/" target="_blank">
        linkedin.com/in/Maximo Fuentes
      </a>
    </div>
  </div>
</section>
